Scrapy~=2.11.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
itemadapter~=0.8.0
requests~=2.31.0
SQLAlchemy~=2.0.21
lxml~=4.9.3
soupsieve~=2.5
pip~=23.2.1
attrs~=23.1.0
wheel~=0.41.2
cryptography~=41.0.4
Pillow~=10.0.1
tornado~=6.3.3
Jinja2~=3.1.2
setuptools~=65.5.0
cssselect~=1.2.0
w3lib~=2.1.2
parsel~=1.8.1
jmespath~=1.0.1
packaging~=23.2
pyasn1~=0.5.0
Twisted~=22.10.0
PyDispatcher~=2.0.7
itemloaders~=1.1.0
queuelib~=1.6.2
tldextract~=3.6.0
Automat~=22.10.0
certifi~=2023.7.22
cffi~=1.16.0
incremental~=22.10.0
constantly~=15.1.0
hyperlink~=21.0.0
idna~=3.4
urllib3~=2.0.6
pycparser~=2.21
pyparsing~=3.1.1
zipp~=3.17.0
Cython~=3.0.3
filelock~=3.12.4
click~=8.1.7
six~=1.16.0