/* src/App.css */
main {
    text-align: center;
    margin: 2rem;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures the header stays above other content */
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  